<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.footballapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name="com.example.footballapp.view.matchlist.Match"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.footballapp.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.footballapp.view.leaguedescription.LeagueDescription" />
        <activity android:name="com.example.footballapp.view.matchdetail.MatchDetail"/>
        <activity android:name="com.example.footballapp.view.teams.Teams"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.example.footballapp.view.teams.TeamDetail"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.example.footballapp.view.teams.PlayerDetail"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.example.footballapp.view.standing.StandingList"
                android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>